# ---- Python ----
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# ---- R ----
.Rhistory
.Rapp.history
.RData
.Renviron
.Rproj.user/
.Ruserdata

# ---- Editores ----
.vscode/
.idea/

# ---- Sistema operativo ----
Thumbs.db
desktop.ini
.DS_Store
